{% extends "dashboard-base.html" %}

{% block title %}
    <title>Yobi | Maps</title>
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="static/js/jquery-1.11.2.js"></script>
    <script>
        var hrs = 0;
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="static/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="static/css/grid.css">
    <link href="static/css/app.css" rel="stylesheet">

{% endblock %}

{% block content %}

    <div id="map" class="grid_10 omega"></div>
    <script type="text/javascript">
    villages = []
        {% for i in range(idsObjs|length) %}
            villages.push({"id":{{ idsObjs[i]['_id'] }},"lt":{{ idsObjs[i]['lt']}},"ln":{{ idsObjs[i]['ln'] }},
            "val":{{ idsObjs[i]['val']}},"hts":"{{ idsObjs[i]['hts']}}","rts":"{{ idsObjs[i]['rts']}}","t":{{ idsObjs[i]['t']}},"name":"{{ idsObjs[i]['name'] }}"})
        {% endfor %}
        console.log(villages);
        var days  = {{ days }}
        var start = {{ start }}
        var end   = {{ end }}
    </script>
    <script src='static/js/async-app.js'></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI6Rl5MO_htYUgemf5MUdFHfULFlKc-0M&callback=initMap">
    </script>
{% endblock %}