<!DOCTYPE html>
<html lang="en">

<head>
    <title>Downloading...</title>


    <link rel='shortcut icon' href='../../static/img/yobi.ico' type='image/x-icon'/ >
    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">

    <!-- <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-theme.min.css">

    <link rel="stylesheet" type="text/css" href="../static/css/results.css">

</head>

<body>

<script type="text/javascript">
    var csvs = new Array();
    csvs.push(['id', 'name', 'lat', 'lng', 'carrier', 'phone_no']);
    {% for doc in cursor %}
        {% if doc %}
            csvs.push(["{{ doc['id'] }}", "{{ doc['name'] }}", "{{ doc['lt'] }}", "{{ doc['ln'] }}", "{{ doc['carrier'] }}", "{{ doc['ph'] }}"]);
        {% endif %}
    {% endfor %}
    console.log(json);
</script>

<script src='../static/js/downloadsensor.js'></script>

</body>

</html>
