<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <link rel='shortcut icon' href='../static/img/yobi.ico' type='image/x-icon'/>
    <script src="../static/js/jquery.min.js"></script>
    <script>
		var hrs = 0;
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="../static/css/grid.css">
    <link href="static/css/app.css" rel="stylesheet">
    <meta http-equiv="refresh" content="900; URL=/new-dashboard">

    <title>Dashboard</title>
</head>
<body>

<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="../static/pics/logo.png">
      </a>
    </div>
    <p class="navbar-text navbar-right" style="margin-right:3%">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
  </div>
</nav> -->
<div id="dash" class="grid_2" style="margin-right:0">
    <center><img width="50px" src="../static/img/logo.png"></center>
    <ul>
        <li class="subject" style="padding-top: 0">EMERGENCY WEATHER</li>
        <li style="text-align:center;padding-left:0;margin-left:-10%;width:90%">
            <select id="select-hours" style="margin-left: auto; margin-right: auto; margin-bottom:2%">
                <option value="0">Current</option>
                <option value="24">24 hours</option>
                <option value="48">48 hours</option>
                <option value="72">72 hours</option>
            </select>
        </li>
        <li style="text-align:center;padding-left:0;margin-left:-10%;width:90%">
            <select id="select-measurement1" style="margin-left: auto; margin-right: auto; margin-bottom:2%">
                <option value="rainfall">Rainfall</option>
                <option value="temperature">Temperature</option>
                <option value="windspeed">Windspeed</option>
                <option value="flood">Chance of flood</option>
                <option value="humidty">Humidity</option>
            </select>
        </li>
        <li class="subject" style="padding-top: 0;">FREQUENCY OF EVENTS</li>
        <li style="text-align:center;padding-left:0;margin-left:-10%;width:90%">
            <select id="select-measurement" style="margin-left: auto; margin-right: auto; margin-bottom:2%">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </li>
        <li class="subject" style="padding-top: 0;">SPAN OF YEARS</li>
        <li style="text-align:center;padding-left:0;margin-left:-10%;width:90%">
            <select id="select-measurement" style="margin-left: auto; margin-right: auto; margin-bottom:2%">
                {% for n in range(1901, 2000) %}
                <option value="{{ n }}">{{ n }}</option>
                {% endfor %}
                <option value="{{ n }}" selected>2001</option>
                {% for n in range(2002, 2011) %}
                <option value="{{ n }}">{{ n }}</option>
                {% endfor %}
            </select>
        </li>
        <li style="text-align:center;padding-left:0;margin-left:-10%;width:90%">
            <select id="select-measurement" style="margin-left: auto; margin-right: auto; margin-bottom:2%">
                {% for n in range(1902, 2011) %}
                <option value="{{ n }}">{{ n }}</option>
                {% endfor %}
                <option value="{{ n }}" selected>2011</option>
            </select>
        </li>
        <li class="subject">MORE</li>
        <li><a href="/id_dash">Sensor Management</a></li>
        <li><a href="/changePass">Change Password</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
    <ul id="username">
        <li>Welcome, {{ name }}.</li>
    </ul>
</div>
{% for i in range(idsObjs|length) %}
<p class="id-data" style="display: none;">{"id":"{{ i }}"}
</p>
{% endfor %}


<div id="map" class="grid_10 omega"></div>

<script>
ids = []

{% for i in range(idsObjs|length) %}
    ids.push({{idsObjs[i]}})
{% endfor %}

</script>
<script async defer src='static/js/rk-app.js'></script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI6Rl5MO_htYUgemf5MUdFHfULFlKc-0M&callback=initMap">
</script>

</body>
</html>