<!doctype html>
<html>

<head>
	<title>Solar Manager</title>
	<link rel='shortcut icon' href='../static/img/yobi.ico' type='image/x-icon'/ >
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body style="text-align:center">
<!-- 	<a href="/ids_csv">
		<div class="button">
			<p>Download</p>
		</div>
	</a> -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <ul class="nav navbar-nav">
	      <li><a href="/solar-dashboard">Dashboard</a></li>
	      <li class="active"><a href="/solar-manager">Solar Manager</a></li>
	      <li><a href="/logout">Logout</a></li>
	    </ul>
	  </div>
	</nav>
	<div>
		<table style="width:95%; margin:auto" class="table table-striped">
			<tr>
				<th>S. No.</th>
				<th>DT ID</th>
				<th>Name</th>
				<th>Latitude</th>
				<th>Longitude</th>
				<th>Discom</th>
			</tr>
			{% for i in range(idsObjs|length) %}
				<tr>
					<form action="" method="post">
						<td><input class="form-control" type="text" value={{ i }} readonly></td>
						<td><input class="form-control" type="text" name="id" value={{ idsObjs[i]['id'] }} readonly></td>
						<td><input class="form-control" type="text" name="name" value="{{ idsObjs[i]['name'] }}"></td>
						<td><input class="form-control" type="text" name="lt" value="{{ idsObjs[i]['lt'] }}"></td>
						<td><input class="form-control" type="text" name="ln" value="{{ idsObjs[i]['ln'] }}"></td>
						<td><select class="form-control" type="" name="discom">
							<option {% if not idsObjs['discom'] %} selected disabled {% endif %}></option>
							<option {% if idsObjs[i]['discom'] == "NDPL" %} selected {% endif %}>NDPL</option>
							<option {% if idsObjs[i]['discom'] == "BRPL" %} selected {% endif %}>BRPL</option>
							<option {% if idsObjs[i]['discom'] == "NDMC" %} selected {% endif %}>NDMC</option>
							<option {% if idsObjs[i]['discom'] == "BYPL" %} selected {% endif %}>BYPL</option>
							<option {% if idsObjs[i]['discom'] == "MES" %} selected {% endif %}>MES</option>
						</select></td>
						<td><input type="submit" name="btn" class="btn btn-default"></td>
					</form>
				</tr>
			{% endfor %}
		</table>
	</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>

</body>

</html>