<!doctype html>
<html>

<head>
	<title>Payout Calculator</title>
	<link rel='shortcut icon' href='../static/img/yobi.ico' type='image/x-icon'/ >
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body style="text-align:center">
<form method="POST" action="">
     <div id="phases">
          <p style="float:left;">Phase 1</p>
          <table>
               <tr><td>Start: <input type="date" name="starts"></td></tr>
               <tr><td>Ends: <input type="date" name="ends"></td></tr>
               <tr><td>Strike: <input type="number" name="strikes"></td></tr>
               <tr><td>Exit: <input type="number" name="exits"></td></tr>
               <tr><td>Notional: <input type="number" name="notionals"></td></tr>
               <tr><td>Remove: <button>X</button></td></tr>
          </table>
	     <!-- <input type="button" value="Add another notional" onClick="addInput('notionals');"><br> -->
     </div>
     <input style="float:left;" type="button" value="Add another phase" onClick="addInput('phases');"><br>
     <td><input type="submit" name="btn" class="btn btn-default"></td>
</form>

<script>
var counter = 1;
var limit = 5;
function addInput(divName){
     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " phases");
     }
     else {
          var newdiv = document.createElement('div');
          if (divName == "phases") {
          	newdiv.innerHTML = '<p style="float:left;">Phase ' + (counter + 1) + '</p>'
                                   + '<table>';
                                        + '<tr><td>Start: <input type="date" name="starts"></td></tr>';
                                        + '<tr><td>Ends: <input type="date" name="ends"></td></tr>';
                                        + '<tr><td>Strike: <input type="number" name="strikes"></td></tr>';
                                        + '<tr><td>Exit: <input type="number" name="exits"></td></tr>';
                                        + '<tr><td>Notional: <input type="number" name="notionals"></td></tr>';
                                        + '<tr><td>Remove: <button>X</button></td></tr>';
                                   + '</table>';
          }
          document.getElementById(divName).appendChild(newdiv);
          counter++;
     }
}
</script>

</body>

</html>