<!DOCTYPE html>
<html>

<head>
    <title>Registered!</title>
    <link rel='shortcut icon' href='../static/img/yobi.ico' type='image/x-icon'/ >
    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"><p> -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css"><p>
    <!-- <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"><p> -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-theme.min.css"><p>
    <link rel="stylesheet" type="text/css" href="../static/css/results.css"><p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

</head>
<body>
<style type="text/css">
body {
	text-align: center;
	background-color: #6AA3FF;
	color: #FFFFFF;
}

img {
	margin: auto;
	margin-top: 50px;
}

p {
	font-family: 'HelveticaNeue-Light';
	font-size: 4em;
	margin-top: 140px;
}

select {
	background-color: #6AA3FF;
}
</style>
	<select id="state">
		<option>Choose a state.</option>
		{% for state in states %}
			<option value='{{ state["name"] }}'><p lang='{{ state["lang"] }}'>{{ state["localName"] }} ({{ state["name"]}})</p></option>
		{% endfor %}
	</select><br>
	<select id="district">
		<option>Choose a district.</option>
	</select>
<script type="text/javascript">

	function removeOptions(selectbox)
	{
	    var i;
	    for(i = selectbox.options.length - 1 ; i >= 0 ; i--)
	    {
	        selectbox.remove(i);
	    }
	}

	$('#state').change(function() {
		removeOptions(document.getElementById("district"));
		var e = document.getElementById("state");
		var checked_state = e.options[e.selectedIndex].value;
		if (checked_state == "Uttar Pradesh") {
			{% for state in states %}
				{% if state["name"] == "Uttar Pradesh" %}
					$("#district").html("{% for d in state['districts'] %}<option value='{{ d[0] }}'><p>{{ d[1] }} ({{ d[0] }})</p></option>{% endfor %}")
				{% endif %}
			{% endfor %}
		}
	});
</script>
</body>
</html>