<!DOCTYPE html>
<html>
<body>
<style type="text/css">
body {
  background-color: #006EC7;
}

.container {
  width: 100%;
  height: 100%;
  padding:0;
  margin: auto;
  text-align: center;
}

input {
  display: none;
}

</style>
<div class="container"><img src="../static/img/loading4.gif" width="100%" height="100%"></div>
<form action="/located" name="findme">
  <input name="ph" id="ph" value="{{ ph }}">
  <input name="lt" id="lt">
  <input name="ln" id="ln">
</form>
<script>
var x=document.getElementById("demo");
if (navigator.geolocation)
  {
  navigator.geolocation.getCurrentPosition(showPosition);
  }
else{x.innerHTML="Geolocation is not supported by this browser.";}
function showPosition(position)
  {
    document.getElementById("lt").value = position.coords.latitude;
    document.getElementById("ln").value = position.coords.longitude; 
  }
window.onload=function(){ 
    window.setTimeout(document.findme.submit.bind(document.findme), 5000);
};
</script>
</body>
</html>