<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <link rel='shortcut icon' href='../static/img/yobi.ico' type='image/x-icon'/ >
    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    <!-- <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/results.css">

</head>

<body>
<style type="text/css">
body {
	text-align: center;
	background-color: #F0F0F0;
}

img {
	margin: auto;
	margin-top: 50px;
}

p {
	font-family: 'HelveticaNeue-Light';
	font-size: 32px;
	margin-top: 140px;
}
</style>

<p>You are not authorized to see this page.</p>

<!-- <img src="https://homeschoolersanonymous.files.wordpress.com/2014/06/1d38007b_tumblr_lh52r8ffry1qhwx3io1_500.gif"> -->

</body>

</html>
