<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <link rel='shortcut icon' href='../static/img/yobi.ico' type='image/x-icon'/ >
    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    <!-- <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/results.css">

</head>

<body>
<style type="text/css">
body {
	text-align: center;
	background-color: #F0F0F0;
}

img {
	margin: auto;
	margin-top: 50px;
}

p {
	font-family: 'HelveticaNeue-Light';
	font-size: 32px;
	margin-top: 140px;
}
</style>

<p>We could not find this location. Please try another location name.</p>

<!-- <img src="http://66.media.tumblr.com/c1c7b39d1cb55bd028247130d3a58d3a/tumblr_nrs7jhNzGV1sl21koo1_400.gif"> -->

</body>

</html>
