<!doctype html>
<html>

<head>
    <title>Power Forecasting</title>
    <link rel='shortcut icon' href='../static/img/yobi.ico' type='image/x-icon'/ >
    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    <!-- <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/results.css">
    <link rel="stylesheet" type="text/css" href="../static/css/grid.css">

    <style>
        body {
            background-color: #F0F0F0;
            text-align: center;
        }

        table {
            background-color: #FFFFFF;
        }

        td, th, p, input {
            font-size: 8px;
        }

        input {
            text-align: center;
        }

    </style>
</head>

<body>
    <script type="text/javascript">
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function colorChange(id) {

            threshold = .1;
            td    = document.getElementById(id);
            today = parseInt(document.getElementById(id).innerHTML);
            newid = parseInt(id) + 1;
            strid = newid.toString()
            yesterday  = parseInt(document.getElementById(strid).innerHTML);
            difference = Math.abs((today-yesterday)/yesterday);
            if (difference > threshold) {
                td.style.background = '#ffb3b3';
            }
            else {
                td.style.background = '#c1f0c1';
            }
        }

    </script>

        <div class="grid_9 alpha">
            <iframe style="position:fixed; margin-left: -12.5%;" height="650" width="944" frameborder="0" scrolling="no" src="https://plot.ly/~bharat5005/2.embed"></iframe>
        </div>
            <div class="grid_3 alpha">
                    <table border='1' style="width: 100%;">
                        <tr>
                            <th>Hour</th>
                            <th>Time</th>
                            <th>{{ today }}</th>
                            <th>{{ yesterday }}</th>
                            <!-- <th>Avg. {{ today }}</th> -->
                        </tr>
                        {% for i in range(0,24) %}
                            <tr>
                                <th rowspan="4">{{ i }}:00 - {{ i+1 }}:00</th>
                                <td>{{ i }}:00 - {{ i }}:15</td>
                                <td id="{{ i*8+0 }}">{{ powerToday[i*4+0] }}</td>
                                <td id="{{ i*8+1 }}">{{ powerYest[i*4+0] }}</td>
                                <!-- <td>60</td> -->
                            </tr>
                            <tr>
                                <td>{{ i }}:15 - {{ i }}:30</td>
                                <td id="{{ i*8+2 }}">{{ powerToday[i*4+1] }}</td>
                                <td id="{{ i*8+3 }}">{{ powerYest[i*4+1] }}</td>
                                <!-- <td>60</td> -->
                            </tr>
                            <tr>
                                <td>{{ i }}:30 - {{ i }}:45</td>
                                <td id="{{ i*8+4 }}">{{ powerToday[i*4+2] }}</td>
                                <td id="{{ i*8+5 }}">{{ powerYest[i*4+2] }}</td>
                                <!-- <td>60</td> -->
                            </tr>
                            <tr>
                                <td>{{ i }}:45 - {{ i }}:00</td>
                                <td id="{{ i*8+6 }}">{{ powerToday[i*4+3] }}</td>
                                <td id="{{ i*8+7 }}">{{ powerYest[i*4+3] }}</td>
                                <!-- <td>60</td> -->
                            </tr>
                        {% endfor %}
                </table>

                <script type="text/javascript">
                    for (var i = 0; i <= 192; i++) {
                        colorChange((i*2).toString());
                    }
                </script>

</body>


<footer>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

</footer>

</html>