{% extends "dashboard-base.html" %}

<head>
    {% block title %}QC{% endblock %}

{% block content %}
<script type="text/javascript">
    var element = document.getElementById("qc");
    element.classList.add("active");
</script>

<body onload="setTimeout(function() { document.tests.submit() }, 60*1000)">
<style type="text/css">

body {
    background-color: #F0F0F0;
}

table {
    float: left;
}

body, td {
    font-family: 'HelveticaNeue-Light'; 
}

#header {
    font-family:'HelveticaNeue-Light'; 
    font-size: 18px; 
}

.square {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 98%;
    margin: 1%;
    background-color: #FFFFFF;
    padding: 1.5%;
}

</style>

<script type="text/javascript">
function colorChange(id) {

    orange_min = 11;
    red_min = 3*24*60;
    
    count = 0;
    var td = document.getElementById(id);
    var arr = document.getElementsByClassName('ts');
    for(var i=0; i< arr.length; i++){
        date = new Date(arr[i].innerHTML);
    }
    var d = new Date();
    var utc = d.getTime() + (d.getTimezoneOffset() * 60000);
    var now = new Date(utc + (3600000*5.5));
    if ((now-date) > red_min*60*1000) {
        td.style.background = '#ffb3b3';
    }
    else if ((now-date) > orange_min*60*1000) {
        td.style.background = '#ffe0b3';
    }
    else {
        td.style.background = '#c1f0c1';
    }
}
</script>
<div class="grid_12 square" style="background-color: #b3d1ff;">
    <p id="header" style="color: #FFFFFF;">deployed ({{ n_deployed }})</p>
    {% for i in range(sensors|length) %}
        {% if sensors[i] %}
            <table border='0' style="border-collapse: collapse; margin: 2.5px;">
                <tr>
                    <th><a href="/results/{{ sensors[i]['_id'] }}">{{ ids[i]['name'] }}</a></th>
                </tr>
                <tr>
                    <td class="ts" id="{{ sensors[i]['_id'] }}" data-container="body" data-toggle="tooltip" data-placement="top" style="position: ; text-align: center;" title="{{ sensors[i]['_id'] }}: {{ ids[i]['ph'] }}">{{ sensors[i]['ts'] }}</td>
                    <script type="text/javascript">
                        colorChange("{{ sensors[i]['_id'] }}");
                    </script>
                </tr>
            </table>
        {% endif %}
    {% endfor %}
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
{% endblock %}
