<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<link rel='shortcut icon' href='../static/img/yobi.ico' type='image/x-icon'/>
	<script src="../static/js/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/css/grid.css">
	<link rel="stylesheet" type="text/css" href="../static/css/dashboard.css">
	<script>
		var hrs = 0;
	</script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<link href="static/css/app.css" rel="stylesheet">

	<title>Dashboard</title>
</head>
<body>

<style>
   #over_map { 
	position: absolute; 
	top: 10%; 
	left: 20%; 
	z-index: 99; 
   }
</style>
	<div id="dash" class="grid_2" style="margin-right:0">
		<center><img width="50px" src="../static/img/logo.png"></center>
		<ul>
		  <li class="subject">SETTINGS</li>
		  <li><a href="/solar-manager">Solar Manager (BETA)</a></li>
		  <li><a href="/changePass">Change Password</a></li>
		  <li><a href="/logout">Logout</a></li>
		</ul>
		<ul id="username">
			<li>Welcome, {{ name }}.</li>
		</ul>
	</div>
	<div id="over_map" class="grid_10 omega">
		<table>
		<form>
			<table>
				<tr>
					<td colspan="2">
						<select id="parameter" class="form-control formElem">
							<!-- <option value="oneDayForecast">1-Day Forecast</option> -->
							<!-- <option value="oneYearForecast">1-Year Forecast</option> -->
							<option value="tfiveYearForecast">Cash Flow Projection</option>
							<!-- <option value="weekActuals">Week Actuals</option> -->
							<!-- <option value="totalActuals">Hist. Actuals</option> -->
							<option value="histVolatility">Risk Level</option>
						</select>
					</td>
				</tr>
				<tr>
					<th class="form-control" style="background-color: rgba(255, 255, 255, .65);">Tarrif (INR)</th>
					<td><input name="tarrif" class="form-control formElem" type="number" min="0" max="10" step=".01" value="2.70"></td>
				</tr>
				<tr>
					<th class="form-control" style="background-color: rgba(255, 255, 255, .65);">Annual rate increase (%)</th>
					<td><input name="rate" class="form-control formElem" type="number" min="0" max="100" step="1" value="5"></td>
				</tr>
				<tr>
					<th class="form-control" style="background-color: rgba(255, 255, 255, .65);">Months to compound</th>
					<td>
						<select id="months" class="form-control formElem">
							<option value="0">0</option>
							<option value="3">3</option>
							<option value="6">6</option>
							<option value="12">12</option>
							<option value="24">24</option>
						</select>
					</td>
				</tr>
				<tr>
					<th class="form-control" style="background-color: rgba(255, 140, 0, .5);">Orange cut-off (%)</th>
					<td><input name="orange" class="form-control formElem" type="number" min="0" max="100" step="1" value="90"></td>
				</tr>
				<tr>
					<th class="form-control" style="background-color: rgba(255, 0, 0, .5);">Red cut-off (%)</th>
					<td><input name="red" class="form-control formElem" type="number" min="0" max="100" step="1" value="50"></td>
				</tr>
			</table>
		</form>
	</div>
	<div id="map" class="grid_10 omega"></div>
	<script type="text/javascript">

	villages = []

	{% for dict in solarDicts %}
		villages.push({	"id"				:"{{ dict['id'] }}",
						"ts"				:"{{ dict['ts'] }}",
						"oneDayForecast"	:({{ dict['oneDayForecast'] }}).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
						"oneYearForecast" 	:({{ dict['oneYearForecast'] }}).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
						"tfiveYearForecast" :({{ dict['tfiveYearForecast'] }}).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
						"weekActuals" 		:"{{ dict['weekActuals']}}",
						"weekUptime" 		:"{{ dict['weekUptime'] }}",
						"totalActuals" 		:"{{ dict['totalActuals'] }}",
						"totalUptime" 		:"{{ dict['totalUptime'] }}",
						"histVolatility" 	:"{{ dict['histVolatility'] }}",
						"lt"				: {{ dict['lt'] }},
						"ln"				: {{ dict['ln'] }},
						"name"				:"{{ dict['name'] }}",
						"projOutput"		:({{ dict['projOutput'] }}).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
						"pct_dep"			: {{ dict['pct_dep'] }},
						"size"				: {{ dict['size'] }},
						"cost"				: {{ dict['cost'] }}
					})
	{% endfor %}
	
	$(document).ready(function(){
	    for (circle of all_circles) {
	      var color = circleColor(circle);
	      circle.setOptions({fillColor: color, strokeColor: color});
	    }
	});

	</script>
	<script src='static/js/solar-app.js'></script>
	<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAI6Rl5MO_htYUgemf5MUdFHfULFlKc-0M&callback=initMap">
	</script>

</body>
</html>